<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>se.ireblom.alfred.friday</string>
    <key>connections</key>
    <dict>
      <key>0186DAD9-F6D4-459D-95CA-F345D525FB97</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>BBFE69E6-C065-4B64-8E2C-C9035C2279DF</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>84E25F05-68C1-4ED5-AE61-D0244FE7B8B2</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>5F230AF9-593B-434C-9826-7C481233FF78</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>89E7B7C7-6D6A-49D7-9847-1DDA8E5755FC</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>A5DFA055-9A31-49C6-8D4E-F26BEF61EBC1</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>A757DACE-68AC-45FB-B689-2909F0BEF983</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>6F083BE5-38BA-4F3D-B555-04E4441BA023</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>BBFE69E6-C065-4B64-8E2C-C9035C2279DF</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>A5DFA055-9A31-49C6-8D4E-F26BEF61EBC1</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>84E25F05-68C1-4ED5-AE61-D0244FE7B8B2</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>DD157F8B-1C89-4242-8401-CEB472B23B85</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>0186DAD9-F6D4-459D-95CA-F345D525FB97</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Martin Ireblom</string>
    <key>description</key>
    <string>Is it Friday?</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>Friday</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>soundname</key>
          <string>Frog</string>
          <key>systemsound</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.playsound</string>
        <key>uid</key>
        <string>A757DACE-68AC-45FB-B689-2909F0BEF983</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>largetypetext</key>
          <string>Yes</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.largetype</string>
        <key>uid</key>
        <string>6F083BE5-38BA-4F3D-B555-04E4441BA023</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>inputstring</key>
          <string/>
          <key>matchcasesensitive</key>
          <true/>
          <key>matchmode</key>
          <integer>0</integer>
          <key>matchstring</key>
          <string>5</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.filter</string>
        <key>uid</key>
        <string>A5DFA055-9A31-49C6-8D4E-F26BEF61EBC1</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>2</integer>
          <key>keyword</key>
          <string>friday?</string>
          <key>subtext</key>
          <string/>
          <key>text</key>
          <string>Is it Friday?</string>
          <key>withspace</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.keyword</string>
        <key>uid</key>
        <string>DD157F8B-1C89-4242-8401-CEB472B23B85</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>/bin/date +%-u</string>
          <key>scriptargtype</key>
          <integer>0</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>0186DAD9-F6D4-459D-95CA-F345D525FB97</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>type</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.transform</string>
        <key>uid</key>
        <string>BBFE69E6-C065-4B64-8E2C-C9035C2279DF</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>largetypetext</key>
          <string>No</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.largetype</string>
        <key>uid</key>
        <string>5F230AF9-593B-434C-9826-7C481233FF78</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>inputstring</key>
          <string/>
          <key>matchcasesensitive</key>
          <true/>
          <key>matchmode</key>
          <integer>1</integer>
          <key>matchstring</key>
          <string>5</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.filter</string>
        <key>uid</key>
        <string>84E25F05-68C1-4ED5-AE61-D0244FE7B8B2</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>soundname</key>
          <string>Basso</string>
          <key>systemsound</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.playsound</string>
        <key>uid</key>
        <string>89E7B7C7-6D6A-49D7-9847-1DDA8E5755FC</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
    </array>
    <key>readme</key>
    <string>ALFRED_FRIDAY_README</string>
    <key>uidata</key>
    <dict>
      <key>0186DAD9-F6D4-459D-95CA-F345D525FB97</key>
      <dict>
        <key>note</key>
        <string>Query date</string>
        <key>xpos</key>
        <integer>190</integer>
        <key>ypos</key>
        <integer>210</integer>
      </dict>
      <key>5F230AF9-593B-434C-9826-7C481233FF78</key>
      <dict>
        <key>note</key>
        <string>No</string>
        <key>xpos</key>
        <integer>620</integer>
        <key>ypos</key>
        <integer>280</integer>
      </dict>
      <key>6F083BE5-38BA-4F3D-B555-04E4441BA023</key>
      <dict>
        <key>note</key>
        <string>Yes</string>
        <key>xpos</key>
        <integer>620</integer>
        <key>ypos</key>
        <integer>140</integer>
      </dict>
      <key>84E25F05-68C1-4ED5-AE61-D0244FE7B8B2</key>
      <dict>
        <key>note</key>
        <string>Day is not Friday</string>
        <key>xpos</key>
        <integer>510</integer>
        <key>ypos</key>
        <integer>310</integer>
      </dict>
      <key>89E7B7C7-6D6A-49D7-9847-1DDA8E5755FC</key>
      <dict>
        <key>xpos</key>
        <integer>620</integer>
        <key>ypos</key>
        <integer>420</integer>
      </dict>
      <key>A5DFA055-9A31-49C6-8D4E-F26BEF61EBC1</key>
      <dict>
        <key>note</key>
        <string>Day is Friday</string>
        <key>xpos</key>
        <integer>510</integer>
        <key>ypos</key>
        <integer>170</integer>
      </dict>
      <key>A757DACE-68AC-45FB-B689-2909F0BEF983</key>
      <dict>
        <key>xpos</key>
        <integer>620</integer>
        <key>ypos</key>
        <integer>20</integer>
      </dict>
      <key>BBFE69E6-C065-4B64-8E2C-C9035C2279DF</key>
      <dict>
        <key>note</key>
        <string>Trim whitespace</string>
        <key>xpos</key>
        <integer>380</integer>
        <key>ypos</key>
        <integer>240</integer>
      </dict>
      <key>DD157F8B-1C89-4242-8401-CEB472B23B85</key>
      <dict>
        <key>xpos</key>
        <integer>20</integer>
        <key>ypos</key>
        <integer>210</integer>
      </dict>
    </dict>
    <key>version</key>
    <string>ALFRED_FRIDAY_VERSION</string>
    <key>webaddress</key>
    <string>https://github.com/ireblom/alfred-friday#readme</string>
  </dict>
</plist>
